{% extends "tracker/template.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static '/css/home.css' %}" type="text/css"/>
<script src="{% static '/js/home.js' %}" type="module"></script>
{% endblock %}
{% block body %}
<body onload="Onload()">
<p>Welcome{% if request.user.first_name|length != 0 %}, {{request.user.first_name}}{% endif %}.
<a href="{% url 'logout' %}?next=/"><button>Logout</button></a>
<a href="{% url 'tracker:settings' %}"><button>Settings</button></a>
<button id="installbtn">Install</button>
<span id="msg"></span>
</p>
<h1>Film Watch Count</h1>
<ul>
    <li><a href="/filmgroup">Film groups</a></li>
    <li><a href="/film">Films</a></li>
    <li><a href="/filmwatch">Film watches</a></li>
</ul>
</body>
{% endblock %}