{% extends "tracker/template.html" %}
{% load static %}
{% block title %}Film Watch Count Settings{% endblock %}
{% block head %}<script src="{% static '/js/settings.js' %}" type="module"></script>{% endblock %}
{% block body %}<body onload="Onload()">
<h1>Settings</h1>
<div>
<h2>App</h2>
<p>
Last checked: <span id="lastupdate"></span>
<button id="update">Check for updates</button>
</p>
</div>
{% if request.user.is_staff %}<div>
<h2>Admin</h2>
<p><a href="/admin/"><button>Admin site</button></a></p>
</div>{% endif %}
{% block content %}{% endblock %}
</body>{% endblock %}