{% extends "tracker/list_template.html" %}
{% block title %}Film groups{% endblock %}
{% block content %}
<h1>Film groups</h1>
<p><a href="{% url 'tracker:filmgroup_create' %}">Add a film group</a> | <a href="/">Go to Home</a></p>
<p>
{% if filmgroup_list %}
<ul id="objectlist">
  {% for filmgroup in filmgroup_list %}
    <li>
        <a href="{% url 'tracker:filmgroup_detail'  filmgroup.id %}">{{ filmgroup }}</a>
        (<a href="{% url 'tracker:filmgroup_update' filmgroup.id %}">Edit</a> |
        <a href="{% url 'tracker:filmgroup_delete' filmgroup.id %}">Delete</a>)
    </li>
  {% endfor %}
</ul>
{% else %}
  <p>No film groups have been added</p>
{% endif %}
</p>
{% endblock %}