body,select{
    font-family:'Segoe UI';
    user-select:none;
}
#content div{
    border:1px solid #000;
}
#content form{
    display:none;
    margin:0.4em;
}
#content h2{
    cursor:pointer;
}
textarea,input[type=date]{
    font-family:Calibri;
}
header{
    top:0;
    left:0;
    position:sticky;
    border:1px solid #000;
    border-radius: 0px 0px 5px 5px;
    background-color:#fff;
}
#menu{
    display:none;
    list-style-type:none;
}
#installbtn{
    display:none;
}
h1{
    display:inline;
}
#back{
    font-size:1.5em;
    background-color:transparent;
}
table,tr,td,th{
    border-collapse:collapse;
    border:1px solid #000;
}
#more{
    display:none;
}
.close{
    background-color:#f00;
    color:#fff;
    font-size:larger;
    border:1px solid #fff;
}
