{% extends "tracker/object_template.html" %}
{% load static %}
{% block name %}{{filmgroup}}{% endblock %}
{% block objecthead %}<script src="{% static '/js/watchcount.js' %}" type="application/javascript"></script>{% endblock %}
{% block content %}
<h1>{{ filmgroup }}</h1>
<p><a href="{% url 'tracker:filmgroup_create' %}"><button>Add new</button></a> <a href="{% url 'tracker:filmgroup_duplicate' filmgroup.id %}"><button>Duplicate</button></a> <a href="{% url 'tracker:filmgroup_update' filmgroup.id %}"><button>Change</button></a> <a href="{% url 'tracker:filmgroup_delete' filmgroup.id %}"><button>Delete</button></a></p>
<p><button onclick="WatchCount(this)">Find film group watch count</button> <a href="{% url 'tracker:film_list' %}?group={{filmgroup.id}}" target="_blank"><button>Show films</button></a> <a href="{% url 'tracker:filmwatch_list' %}?group={{filmgroup.id}}" target="_blank"><button>Show film watches</button></a></p>
{% if filmgrouplist|length != 0 %}
<p>Group:
{% if filmgrouplist|length == 1 %} <a href="{% url 'tracker:filmgroup_detail' filmgroup.FilmGroup.id %}">{{ filmgroup.FilmGroup }}</a>
{% else %}
<ul>
{% for filmgroup_ in filmgrouplist %}
<li><a href="{% url 'tracker:filmgroup_detail' filmgroup_.id %}">{{ filmgroup_ }}</a></li>
{% endfor %}
</ul>
{% endif %}
</p>
{% endif %}
{% endblock %}