{% extends "tracker/list_template.html" %}
{% block title %}Films{% endblock %}
{% block content %}
<h1>Film</h1>
<p><a href="{% url 'tracker:film_create' %}" id="add">Add a film</a> | <a href="/">Go to Home</a></p>
<p>
{% if film_list %}
<p>{{film_list|length}} film{% if film_list|length != 1 %}s{% endif %}</p>
<ul id="objectlist">
  {% for film in film_list %}
    <li><a href="{% url 'tracker:film_detail'  film.id %}">{{ film }}</a></li>
  {% endfor %}
</ul>
{% else %}
<p>No films</p>
{% endif %}
</p>
{% endblock %}