{% extends "tracker/object_template.html" %}
{% block title %}{{filmgroup}}{% endblock %}
{% block head %}<script src="/static/watchcount.js" type="application/javascript"></script>{% endblock %}
{% block content %}
<h1>{{ filmgroup }}</h1>
<p><a href="{% url 'tracker:filmgroup_update' filmgroup.id %}">Change</a> | <a href="{% url 'tracker:filmgroup_delete' filmgroup.id %}">Delete</a></p>
<p><button onclick="WatchCount(this)">Find film group watch count</button></p>
<p><a href="{% url 'tracker:film_list' %}?group={{filmgroup.id}}" target="_blank"><button>Show films</button></a></p>
<p><a href="{% url 'tracker:filmwatch_list' %}?group={{filmgroup.id}}" target="_blank"><button>Show film watches</button></a></p>
{% if filmgrouplist|length != 0 %}
<p>Group:
{% if filmgrouplist|length == 1 %} <a href="{% url 'tracker:filmgroup_detail' filmgroup.FilmGroup.id %}">{{ filmgroup.FilmGroup }}</a>
{% else %}
<ul>
{% for filmgroup_ in filmgrouplist %}
<li><a href="{% url 'tracker:filmgroup_detail' filmgroup_.id %}">{{ filmgroup_ }}</a></li>
{% endfor %}
</ul>
{% endif %}
</p>
{% endif %}
{% endblock %}