{% extends "tracker/object_template.html" %}
{% load static %}
{% block name %}{{film}}{% endblock %}
{% block objecthead %}<script src="{% static '/js/watchcount.js' %}" type="application/javascript"></script>{% endblock %}
{% block content %}
<h1>{{ film.Name }}</h1>
<p><a href="{% url 'tracker:film_create' %}" id="addbtn"><button>Add new</button></a>  <a href="{% url 'tracker:film_duplicate' film.id %}"><button>Duplicate</button></a></p>
<p><a href="{% url 'tracker:film_update' film.id %}">Change</a> | <a href="{% url 'tracker:film_delete' film.id %}">Delete</a></p>
<p><button onclick="WatchCount(this)">Find film watch count</button></p>
<p><a href="{% url 'tracker:filmwatch_list' %}?film={{film.id}}" target="_blank"><button>Show film watches</button></a></p>
{% if filmgrouplist|length != 0 %}
<p>Group:
{% if filmgrouplist|length == 1 %} <a href="{% url 'tracker:filmgroup_detail' film.FilmGroup.id %}">{{ film.FilmGroup }}</a>
{% else %}
<ul>
{% for filmgroup in filmgrouplist %}
<li><a href="{% url 'tracker:filmgroup_detail' filmgroup.id %}">{{ filmgroup }}</a></li>
{% endfor %}
</ul>
{% endif %}
</p>
{% endif %}
{% endblock %}