{% extends "tracker/detail_template.html" %}
{% load static %}
{% block name %}{{filmwatch}}{% endblock %}
{% block detailcontent %}
<h1>{{ filmwatch.Film }}</h1>
<p><a href="{% url 'tracker:filmwatch_duplicate' filmwatch.id %}"><button>Duplicate</button></a> <a href="{% url 'tracker:filmwatch_update' filmwatch.id %}"><button>Change</button></a> <a href="{% url 'tracker:filmwatch_delete' filmwatch.id %}"><button>Delete</button></a></p>
<p>Date watched: {{filmwatch.DateWatched}}</p>
<p>{{filmwatch.Notes}}</p>
{% endblock %}