{% extends "filmwatchcount/list_template.html" %}
{% block title %}Film groups{% endblock %}
{% block heading %}Film groups{% endblock %}
{% block search %}<form>
<label>Group name <input type="text" name="q"/></label>
<input type="submit" value="Search"/>
</form>{% endblock %}
{% block content %}
{% if filmgroup_list %}
<ul id="objectlist">
{% for filmgroup in filmgroup_list %}<li><a href="{% url 'filmwatchcount:filmgroup_detail'  filmgroup.id %}">{{filmgroup}}</a></li>{% endfor %}
</ul>
{% else %}
<p>No film groups</p>
{% endif %}
{% endblock %}