{% extends "filmwatchcount/detail_template.html" %}
{% load static %}
{% block name %}{{filmwatch}}{% endblock %}
{% block detailcontent %}
<h1>{{ filmwatch.Film.Name }}</h1>
<p><a href="{% url 'filmwatchcount:filmwatch_duplicate' filmwatch.id %}"><button>Duplicate</button></a> <a href="{% url 'filmwatchcount:filmwatch_update' filmwatch.id %}"><button>Change</button></a> <a href="{% url 'filmwatchcount:filmwatch_delete' filmwatch.id %}"><button>Delete</button></a></p>
<p><b>Film:</b> {{filmwatch.Film.html_link|safe}}</p>
{% if filmwatch.DateWatched %}<p><b>Date watched:</b> {{filmwatch.DateWatched}}</p>{% endif %}
<p>{{filmwatch.Notes}}</p>
{% endblock %}