{% extends "filmwatchcount/list_template.html" %}
{% block title %}Films{% endblock %}
{% block heading %}Films{% endblock %}
{% block search %}<form>
<label>Film name <input type="search" name="q"/></label>
<br/>
<label>Sort by <select name="sort">
<option value>None</option>
<option value="Name">Film name (ascending)</option>
<option value="-Name">Film name (descending)</option>
<option value="count">Watch count (ascending)</option>
<option value="-count">Watch count (descending)</option>
</select></label>
<br/>
<input type="submit" value="Apply"/>
<input type="reset" value="Clear"/>
</form>{% endblock %}
{% block content %}
{% if film_list %}
<ul id="objectlist">
{% for film in film_list %}<li><a href="{% url 'filmwatchcount:film_detail' film.id %}">{{film}}</a>{% if film.count %} - {{film.count}}{% endif %}</li>{% endfor %}
</ul>
{% else %}
<p>No films</p>
{% endif %}
{% endblock %}