{% extends "filmwatchcount/list_template.html" %}
{% block title %}Film groups{% endblock %}
{% block heading %}Film groups{% endblock %}
{% block search %}<form>
<input type="submit" value="Search"/>
<fieldset>
<legend>Search</legend>
<label>Group name <input type="text" name="q"/></label>
</fieldset>
<fieldset>
<legend>Sort</legend>
<button type="button" onclick="clear()">Clear</button>
<label><input type="radio" name="sort" value="Name"/> Group name (ascending)</label>
<label><input type="radio" name="sort" value="-Name"/> Group name (descending)</label>
</fieldset>
</form>{% endblock %}
{% block content %}
{% if filmgroup_list %}
<ul id="objectlist">
{% for filmgroup in filmgroup_list %}<li><a href="{% url 'filmwatchcount:filmgroup_detail'  filmgroup.id %}">{{filmgroup}}</a></li>{% endfor %}
</ul>
{% else %}
<p>No film groups</p>
{% endif %}
{% endblock %}