{% extends "filmwatchcount/template.html" %}
{% load static %}
{% block body %}
<body>
<p>Welcome{% if request.user.first_name|length != 0 %}, {{request.user.first_name}}{% endif %}.
<a href="{% url 'logout' 'filmwatchcount:home' %}"><button>Logout</button></a>
<span id="msg"></span>
</p>
<h1>Film Watch Count</h1>
<ul>
    <li><a href="{% url 'filmwatchcount:filmgroup_list' %}">Film groups</a></li>
    <li><a href="{% url 'filmwatchcount:film_list' %}">Films</a></li>
    <li><a href="{% url 'filmwatchcount:filmwatch_list' %}">Film watches</a></li>
    <li><a href="{% url 'filmwatchcount:filmcompare' %}">Film comparison</a></li>
</ul>
</body>
{% endblock %}