{% extends "filmwatchcount/template.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static '/filmwatchcount/css/list.css' %}"/>{% endblock %}
{% block body %}
<body>
<a href=".."><button id="back" title="Home">&#x2302</button></a>
<a href="create" id="add"><button title="Add">+</button></a>
<h1>{% block heading %}{% endblock %} ({{ page_obj.paginator.count }})</h1>
<div id="filters">
<h2>Filters</h2>
{% block search %}{% endblock %}
</div>
<div id="page">
{% if page_obj.has_previous %}
<a href="{% querystring page=1 %}">&laquo; first</a>
<a href="{% querystring page=page_obj.previous_page_number %}">previous</a>
{% endif %}
<span>{{ page_obj.start_index }} to {{ page_obj.end_index }}</span>
{% if page_obj.has_next %}
<a href="{% querystring page=page_obj.next_page_number %}">next</a>
<a href="{% querystring page=page_obj.paginator.num_pages %}">last &raquo;</a>
{% endif %}
</div>
{% block content %}{% endblock %}
<script src="{% static '/filmwatchcount/js/list.js' %}"></script>
</body>
{% endblock %}