{% extends "filmwatchcount/main.html" %}
{% load static %}
{% block head %}
<meta id="api" content="{{ api }}"/>
<meta id="table" content="{{ table }}"/>
<script src="{% static '/filmwatchcount/js/list.js' %}"></script>
<link rel="stylesheet" href="{% static '/filmwatchcount/css/main.css' %}"/>
{% endblock %}
{% block body %}
<p>Showing <span id="shown">0</span> of <span id="total">0</span> <button onclick="Onload()">Refresh</button></p>
<table id="data"></table>
<button id="more">Load more</button>
{% endblock %}