{% load static %}<!DOCTYPE html>
<html lang="en-gb">
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width,initial-scale=1.0"/>
<link rel="icon" href="{% static '/filmwatchcount/images/app_icon.png' %}">
<title>{% block title %}Film Watch Count{% endblock %}</title>
<link rel="stylesheet" href="{% static '/filmwatchcount/css/main.css' %}"/>
<script src="{% static '/filmwatchcount/js/menu.js' %}"></script>
{% block head %}{% endblock %}
</head>
<body>
<div id="content">
<header>
<button id="menubtn">Menu</button>
<h1 id="title">{% block header_title %}Film Watch Count{% endblock %}</h1>
<ul id="menu">
<li>Welcome{% if request.user.first_name|length != 0 %}, {{request.user.first_name}}{% endif %}</li>
<li><a href="{% url 'logout' 'filmwatchcount:home' %}"><button>Logout</button></a></li>
</ul>
</header>
{% block body %}{% endblock %}
</div>
</body>
</html>
