{% extends "filmwatchcount/main.html" %}
{% load static %}
{% block title %}Settings{% endblock %}
{% block head %}<script src="{% static '/filmwatchcount/js/settings.js' %}"></script>
{% endblock %}
{% block body %}
<div>
<h2>App</h2>
<fieldset>
<legend>Clear</legend>
<p><button id="cache">Clear cache</button></p>
<p><button id="data">Clear data</button></p>
</fieldset>
</div>
<div>
<h2>Account</h2>
<p><a href="{% url 'password_change' %}" target="_blank"><button>Change password</button></a></p>
</div>
{% if request.user.is_staff %}<div>
<h2>Admin</h2>
<p><a href="{% url 'admin:index' %}" target="_blank"><button>Admin site</button></a></p>
</div>{% endif %}
{% endblock %}